<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments::header('mypage')"></head>
  <body>
    <div th:replace="fragments::menu('mypage')"></div>

    <main class="container">
      <h2 class="mb-3">📋 마이페이지 📋</h2>

      <form
        class="form-inline d-flex justify-content-end"
        method="GET"
        th:action="@{/board/list}"
      >
        <div class="form-group mx-sm-3 mb-2">
          <label for="searchText" class="sr-only">검색</label>
          <input
            type="text"
            class="form-control"
            id="searchText"
            name="searchText"
            th:value="${param.searchText}"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary mb-2"
          th:text="'🔎 검색'"
        ></button>
      </form>

      <h4><b>Total: </b><span th:text="${total}"></span></h4>

      <table class="table table-striped table-hover">
        <colgroup>
          <col width="100px" />
          <col width="300px" />
          <col width="*" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board: ${boards}">
            <td th:text="${board.id}"></td>
            <td>
              <a
                th:text="${board.title}"
                th:href="@{/board/form(id=${board.id})}"
              ></a>
            </td>
            <td th:text="${board.user.username}"></td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <!-- first -->
          <li
            class="page-item"
            th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'"
          >
            <a
              class="page-link"
              href="#"
              th:href="@{/board/list(page=${0},searchText=${param.searchText})}"
              tabindex="-1"
              aria-disabled="true"
              >처음</a
            >
          </li>

          <!-- prev -->
          <li
            class="page-item"
            th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'"
          >
            <a
              class="page-link"
              href="#"
              th:href="@{/board/list(page=${boards.pageable.pageNumber - 1},searchText=${param.searchText})}"
              tabindex="-1"
              aria-disabled="true"
              >이전</a
            >
          </li>

          <!-- pageNumber -->
          <li
            class="page-item"
            th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}"
          >
            <a
              class="page-link"
              href="#"
              th:href="@{/board/list(page=${i - 1},searchText=${param.searchText})}"
              th:text="${i}"
              >1</a
            >
          </li>

          <!-- next -->
          <li
            class="page-item"
            th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'"
          >
            <a
              class="page-link"
              href="#"
              th:href="@{/board/list(page=${boards.pageable.pageNumber + 1},searchText=${param.searchText})}"
              >다음</a
            >
          </li>

          <!-- last -->
          <li
            class="page-item"
            th:classappend="${boards.pageable.pageNumber == boards.totalPages-1} ? 'disabled'"
          >
            <a
              class="page-link"
              href="#"
              th:href="@{/board/list(page=${boards.totalPages-1},searchText=${param.searchText})}"
              tabindex="-1"
              aria-disabled="true"
              >끝</a
            >
          </li>
        </ul>
      </nav>
    </main>
    <div th:replace="fragments::footer"></div>
  </body>
</html>
